<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_fichas.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');
        </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap" rel="stylesheet">
    <title>Fichas - História dos Selos</title>
    <link rel="icon" type="image/png" href="/icon/Selo de Ydra icon.png">
</head>
<body>
   <header>
    <div class="container">
        <div class="logo"><img src="/icon/Selo de Ydra icon.png"></div>
        <div class="menu">
            <nav class="nav-barramenu">
                <a href="/">Menu</a>
                <a href="/fichas">Fichas</a>
                <a href="/campanhas">Campanhas</a>
                <a href="/arkaminos">Arkaminos</a>
            </nav>
        </div>
        <div class="perfilusuario">
            <a href="/configuracoes_usuario" id="profileLink" class="profile-link">
                <button id="profileButton" style="background-image: url(/images/default-avatar.jpg);"></button>
            </a>
        </div> 

    </div> 
    </div>
   </header>
   <!-- Fim header -->

   <!-- Criação Ficha -->

   <main>
    <a href="/nova_ficha">
        <button id="nova_ficha" class="nova_ficha">Nova Ficha</button>
    </a>

    <div class="fichas-list">
        <% if(fichas && fichas.length > 0) { %>
            <ul class="lista-fichas">
                <% fichas.forEach(function(ficha){ %>
                <li class="ficha-item">
                    <button class="delete-icon" data-ficha-id="<%= ficha._id %>" aria-label="Excluir Ficha">
                        <i class="bi bi-trash"></i>
                    </button>
                    <a href="/ficha/<%= ficha._id %>" class="ficha-link">
                        <div class="foto-container">
                            <% if(ficha.fotoPersonagem) { %>
                                <img src="<%= ficha.fotoPersonagem %>" alt="<%= ficha.identidade.nomePersonagem || 'Insurgente' %>" class="foto-personagem">
                            <% } else { %>
                                <img src="/images/default-avatar.jpg" alt="Personagem Sem Foto" class="foto-personagem">
                            <% } %>
                            <div class="info-overlay">
                                <span class="nome-personagem"><%= ficha.identidade.nomePersonagem || 'Insurgente' %></span>
                                <span class="classe-personagem"><%= ficha.classe || 'Classe Não Definida' %></span>
                            </div>
                        </div>
                    </a>
                </li>
                <% }) %>
            </ul>
        <% } else { %>
        <% } %>
    </div>

    <div id="modalConfirmDelete" class="modal">
        <div class="modal-content">
            <span class="close-button" aria-label="Fechar">&times;</span>
            <h2>Excluir Ficha</h2>
            <p>Tem certeza que deseja excluir esta ficha? Ela NÃO poderá ser recuperada.</p>
            <form id="deleteForm" method="POST" action="">
                <button type="button" id="cancelButton">Cancelar</button>
                <button type="submit">Excluir</button>
            </form>
        </div>
    </div>




   </main>









    <script src="/script.js"></script>
</body>
</html>